$color-palette: (
    dark-green: #181C14,
    dark-gray: #3C3D37,
    muted-green: #697565,
    light-beige: #ECDFCC,
    abort-red: #B82132,
);

@function color($key) {
  @return map-get($color-palette, $key);
}